html {
    
    background: radial-gradient(circle, rgba(2,0,36, 1) 0%, rgba(92,88,157,.7) 77%, rgba(0,0,0,1) 100%);   
}

body {
    font-size: 10px;
    font-family: 'Iceland', cursive;
    height: 100vh;
    width: 100vw;
    z-index: -25;
}
#doodle {
    position:absolute;
    z-index: -10;
    
    
}

/* #intro { 
    width: 100vw;
    height: 150vh;
  
    position: absolute;
     
    margin-top: -200px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    background: rgba(0, 0, 0, 1);
    animation: background 4s ease-in-out 13s 1 forwards;
    z-index: 9;
}
h1 {
    z-index: 10 !important;
    position: absolute;
    color: white;
    font-size: 2rem;
    animation: text1 5s forwards 1;
    margin-left: 100px;

}

h2 {
    z-index: 10;
    position: absolute;
    color: white;
    font-size: 2rem;
    animation: text2 5s forwards 4s 1;
    opacity: 0;
    margin-left: 100px;
    margin-top: 50px;
    
}

h3 {
    z-index: 10;
    position: absolute;
    color: white;
    font-size: 2rem;
    animation: text2 5s forwards 8s 1;
    opacity: 0;
    margin-left: 100px;
    margin-top: 100px;
    
} 

@keyframes text2 {
    0% {opacity: 0}
    50%{opacity: 1}
    100%{opacity: 0}
}

@keyframes text1 {
    0% {opacity: 0}
    50%{opacity: 1}
    100%{opacity: 0}
}

@keyframes background {
  
    99% {opacity: 0}
    100%{z-index: -10;
         opacity: 0;}
}  */

button {
    font-family: 'Iceland', cursive;
    color: rgb(201, 199, 199);
    
    background-color: rgba(0, 0, 0, .312312123);
    border-color: grey !important;
    border-width: 1px !important;
    border-style: solid !important;
    font-size: 2rem;
    z-index: 1;
    border-radius: 1px;

}

#call {
    z-index: 0;
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-image: url(/images/pxArt.png);
    background-size: cover;
}


#calc-container {
    width: 429px;
    height: 555px;
    margin: auto;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 100px) 120px;
    grid-template-rows: 120px repeat(5, 84px);
    z-index: 10;
    
    border-color: rgb(0, 0, 0);
    border-style:double;
    border-width: 15px;
    border-radius: 0px;
    margin-top: 100px;
    
}




#bar {
    height: 50px;
    width: 5px;
    background-color:rgba(12, 209, 38, 0.801);
    position: absolute;
    margin-left: 410px;
    margin-top: 35px;
    animation: blink 1.2s linear 1s infinite; 
    z-index: 3;
}

@keyframes blink {
    0% {opacity: 0%;}
    40% {opacity: 0%;}
    41% {opacity: 100%;}
    100% {opacity: 100%;}
}

#display-area {
    height: 123px;
    width: 396px;
    margin-left: 0px;
    color: rgba(12, 209, 38, 0.801);
    grid-area: 1 / 1 / 1 / span 2;
    font-size: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    padding-left: 10px;
    padding-right: 25px;
    background-color: black;
    
}

#numbers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    grid-area: 3 / 1 / 6 / 4;
    
    
    
}

#decimal {
    width: 100px;
    height: 84px;
   
}


.numbers {
   width: 100px;
   height: 84px;
}

.numbers:active {
    
    background-color: white;
    transform: translateY(2px);
}


[id='0'] {
    width: 203px;
}

#operators-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    grid-area: 2 / 4 / 2 / 4;
}

.operators {
   height: 84px;
   width: 120px;
   color: #3dc0a4e3;
}

.operators:active,
.extra-operators:active {
    background-color: red;
    transform: translateY(2px);
}

#equals {
    height: 84px;
    width: 120px; 
    color: rgba(12, 209, 38, 0.801);
}

#extra-operators-container {
    display: flex;
    
   
    gap: 3px;
    
    grid-area: 2 / 1 / 2 / 4;
}

.extra-operators {
   width: 100px;
   color: #3dc0a4e3;

}

#negative {
    height: 42px;
    margin-top: 42px;
    border-top-width: 1px !important;
}

#backspace {
    height: 42px;
    margin-left: -103px;
    border-bottom-width: 1px !important;
}

#clear {
    color: rgba(255, 0, 0, 0.753);
}

#clear:active {
    background-color: white;
}

